
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    background: #11141a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

nav a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

nav a:hover,
nav a.active {
    color: #0ef;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    font-size: 100px;
    color: #fff;
    font-weight: 700;
}

section:nth-child(odd) {
    background: #323946;
}

#home img {
    width: 30vw;
    margin-top: 10vh;
    margin-right: 30px;
}

#home h6 {
    padding: 5px;
    margin-right: 10vw;
}

#home h4 {
    font-size: 60px;
    margin-top: 66vh;
    position: absolute;
    left: 0;
}

#about img {
    width: 30vw;
    /* position: absolute;
    left: 10; */
    margin-right: 65vw;
}

#about h1 {
    font-size: 50px;
    margin-top: -400px;
    position: absolute;
    left: 40vw;
}

#about p {
    font-size: 30px;
    position: absolute;
    left: 40vw;
}

.header {
    text-align: center;
    color: #ffffff;
    padding: 1rem;
    position: relative;
}

.header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    background-color: #2ecc71;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.skill-box {
    padding: 1rem;
    color: #000;
    cursor: pointer;
}

.skill-box:hover>.skill-title::after,
.skill-box:hover>.skill-title::before {
    width: 35px;
}

.skill-box:hover .img {
    transform: translateY(-10px);
}

.skill-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skill-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #2ecc71;
    transition: .5s;
}

.skill-title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #2ecc71;
    transition: .5s;
}

.img {
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;
}

.skill-title h3 {
    color: #ffffff;
    margin-top: 0.5rem;
}

.skill-icon {
    width: 50px;
    z-index: 2;
}

.project h1 {
    text-align: center;
}

.contact h1 {
    font-size: 60px;
    margin-top: -616px;
    padding: 50px;
}

.contract a i {
    color: rgb(255, 255, 255);
    padding: 10vw;
    position: absolute;
    left: 20;
    margin-top: -300px;
    cursor: pointer;
    width: 5vw;
    transition: .5s;

}

.contact i:hover {
    color: rgb(228, 79, 79);
}

.contact h6 {
    color: #ededed;
    font-family: sans-serif;
}

.contract i:hover {
    color: rgb(23, 47, 154);
}

.contact form {
    width: 600px;
    text-align: center;
}

form .input-box {
    display: flex;
    justify-content: space-between;
    height: 16vh;
}

.input-box .input-field {
    width: 48.5%;
}

.field .item {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #ededed;
    margin: 12px 0;
}

.field .item::placeholder {
    color: rgba(255, 255, 255, .3);
}

form .textarea-field .item {
    resize: none;
}

form button {
    padding: 12px 32px;
    background: #0ef;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: .5s;
}

form button:hover {
    box-shadow: none;
}

/* @media (max-width: 321px) {
    header {
        height: 14vh;
    }

    header a.logo {
        width: 40vw;
        padding: 12px;
        margin-left: -90px;
        display: flex;
        font-size: 20px;
    }

    section {
        background-color: #000000;
        width: 400vw;
    }

    section #home {
        background-color: #000;
        width: 240vw;
    }

    #home img {
        width: 500px;
        margin-left: 647px;

    }

    #home h6 {
        font-size: 30px;
        position: absolute;
        left: 0;
    }

    #home h4 {
        position: absolute;
        left: 10;
        font-size: 30px;
        display: flex;
    }

    section #about {
        background-color: #11141a;
    }

    #about img {
        position: absolute;
        left: 0;
        width: 300px;
    }

    #about h1 {
        margin-left: 220px;
        padding-top: 28vh;

    }

    section #about {
        background: #11141a;
        width: 200vw;
    }

    #about p {
        margin-left: 200px;
        margin-right: 300px;
        font-size: 20px;
        padding: 12px;
        position: relative;
        text-align: justify;
    }

    .footernav ul {
        flex-direction: column;

    }

    footer {
        background-color: #000000;
        width: 400vw;
    }

    .footernav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    .contact a i {
        padding-left: 140px;
        margin-top: -30px;
    }

    .contact h1 {
        padding: 1px;
        height: 100px;
    }

    section {
        padding: 30px;
    }
    .portfolio h5{
        padding-top: 80px;
        height: 10vh;
    }
    .contact i{
        display: block;
        position: relative;
        margin-left: -643px;
    }
    form .input-box{
        height: 15vh;
    }
} */
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 4rem;
    margin-right: 80px;
    height: 30vh;
}
.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
}
.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), aqua);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}
.portfolio-layer a{
display: inline-flex;
justify-content: center;
align-items: center;
width: 5rem;
height: 5rem;
border-radius: 50%;
}

.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}
footer {
    background-color: #111;
}

.footercontainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcon {
    display: flex;
    justify-content: center;
}

.socialIcon a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcon a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcon a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcon a:hover i {
    color: white;
    transition: 0.5s;
}

.footernav {
    margin: 30px 0;
}

.footernav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footernav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footernav ul li a:hover {
    opacity: 1;
    color: chocolate;
}

.footerbottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerbottom p {
    color: white;
}

.designer {
    opacity: 0.7s;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: #d1e5ff;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#642bff, #ff22e6);
    border-radius: 10px;
}
@media screen and (max-width: 700px) {
   
 section{
        background-color: #000000;
        width: 1200px;
    }
    #about img{
        margin-left: -100px;
    }
 #about h1{
margin-left: 30vw;
    }
#about p{
       font-size: 10px;
       margin-left: 200px;
    }
    .portfolio-container .portfolio-box img{
        height: 40vh;
    }
    .portfolio h5{
        height: 20px;
        margin: 5px;
    }
    .contact i{
        margin-left: -420px;
    }
    form{
        padding-right: 20px;
        margin: 20px;
    }
    footer{
        width: 1200px;
    }
}
@media screen and (max-width: 500px){
    section{
        background-color: #000;
        width: 1400px;
    }
    #home h6{
        font-size: 40px;
        position: absolute;
        left: 0;
    }
    #home h4{
        font-size: 45px;
    }
    #home img{
        margin-left: 100vw;
    height: 50vh;
    width: 60vw;
    }
    #about h1{
        padding: 12px;
    }
    #about img{
        margin-left: -600px;
        position: relative;
        left: 0px;
    }
    #about p{
        font-size: 10px;
       position: absolute;
       left: 150px;
     }
     .portfolio h5{
        margin: 1px;
     }
     footer{
        width: 1400px;
     }
     .contact i{
        margin-left: -780px;
     }
}
@media screen and (max-width:400px) {
    #about h1{
       padding-top: 10px;
    }
    #about img{
        height: 50vh;
        width: 60vw;
        margin: 50vw;
        
    }
    #about p{
       margin-left: 20px;
     }
     .contact i{
        margin-left: -850px;
     }
     #about h1:hover{
        color: #2ecc71;
        transition: .5s;
     }
}